# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

<div class="alert alert-info"; style="border-left: 7px solid SteelBlue">
<h5> <font color="SteelBlue">Комментарий от студента (синий)</font></h5>    

Ну, если знать заранее, что тут код везде будет одинаков, конечно соглашусь

</div>

In [22]:
def grouping (target, row): # группировка по колонке 
    try:
        return row.groupby([target]).agg({'debt':['mean','sum','count']}).round(2)
    except:
        print('smth wrong')

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [23]:
data.head(5)# Ваш код будет здесь. Вы можете создавать новые ячейки.

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,B,операции с недвижимостью
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,C,операции с автомобилем
2,0,5623.422610,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,C,операции с недвижимостью
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,B,получение образования
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,C,проведение свадьбы

In [24]:
df_group = grouping('children', data) # группировка по children
df_group.loc['3+'] = df_group.loc[3] + df_group.loc[4] + df_group.loc[5] #создание новой категории, что увеличить выборку
df_group.drop(index=[3,4,5])

          debt
          mean     sum    count
children
0         0.08  1063.0  14091.0
1         0.09   444.0   4808.0
2         0.09   194.0   2052.0
3+        0.18    31.0    380.0

**Вывод:** 
<!-- Общее сравнение медианой и средним арифметическим, не выявляет различий между детьми и сроками возврата. Если предположить, что нету выбросов в колонке total_income, сравниваем среднее относительно количеством детей и рейтингом. 
- Для клиентов с рейтингом А наличие 2 и 3 детей уменьшает средний total_income
- Для клиентов с рейтингом В наличие от 0 до 3 детей увеличивает срединй total_income, но уменьшается с количеством детей 4 и 5
- Для клиентов с рейтингом С наличие 0, 2, 5 среднее практическо одинаковое, а вот для 1, 3 и 4 среднее выше по категории
- Для клиентов с рейтингом D и E среднее увеличивается с ростом количеством детей.

<!-- Зависимость от количества долгов:
- Для группы С процент долгов не изменяется от количества детей
- Для группы В процент долгов увеличивается в два раза от среднего при 4 детях
- Для группы D процент долгов увеличивается при увеличении количества детей
- Для группы Е процент резко падает при 1 ребенке, а для группы А при 2, что вносит сомнения в корректность данных

Зависимость от количества долгов:
- Для некоторых категорий А, Е и 4, 5 детей данных мало относительно остальных групп
- У категорий B , C есть разница в 1 %, 2 % в количесте непогашенных кредитов, если детей нет
- В категории D увеличивается вероятность непогашенного кредита от количества детей
 
Таким образом, гипотеза потвердилась зависимость между количеством детей и возвратом кредита в срок -->

Посчитал среднее количетсов задолжностей по количеству детей. Для клиентов с 3,4,5 детьми выборка небольшая, поэтому объединил в общую группу 3+.
Сравнение задолжностей и количеством детей показало:
- Без детей средняя задолжность 8%
- Для 1 и 2 ребенка 9%
- Для группы 3+ составляет 18%, что в два раза больше, чем у 1 и 2 детей, но данных мало

Гипотеза частично потвердилась.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [25]:
data_pivot_family=data.pivot_table(index=['total_income_category'], columns='family_status', values='debt', aggfunc=['sum'])# Ваш код будет здесь. Вы можете создавать новые ячейки.
data_pivot_family

                                        sum                           \
family_status         Не женат / не замужем в разводе вдовец / вдова
total_income_category
A                                       0.0       0.0            NaN
B                                      62.0      18.0            9.0
C                                     209.0      64.0           54.0
D                                       2.0       2.0            0.0
E                                       0.0       NaN            NaN


family_status         гражданский брак женат / замужем
total_income_category
A                                  1.0             1.0
B                                 64.0           201.0
C                                315.0           711.0
D                                  5.0            12.0
E                                  0.0             2.0

In [26]:
data_group_family = grouping('family_status',data).reset_index() # группировка по family_status
data_group_family

           family_status  debt
                          mean  sum  count
0  Не женат / не замужем  0.10  273   2796
1              в разводе  0.07   84   1189
2         вдовец / вдова  0.07   63    951
3       гражданский брак  0.09  385   4134
4        женат / замужем  0.08  927  12261

In [27]:
data_group_family.loc[5] = data_group_family.loc[[0,1,2]].sum() # разделяем по 2ум категориям  
data_group_family.loc[6] = data_group_family.loc[[3,4]].sum()
data_group_family.drop(index=[i for i in range(5)])

                                  family_status  debt
                                                 mean   sum  count
5  Не женат / не замужемв разводевдовец / вдова  0.24   420   4936
6               гражданский бракженат / замужем  0.17  1312  16395

**Вывод:** 
<!-- - Для рейтинга A D E недостаточно данных для сравнения гипотезы
- Для рейтинга B есть разница между 'Не женат / не замужем' и всеми остальными статусами в 2-3% количество непогашенных кредитов  
- Для рейтинга С есть разница между 'гражданский брак' и 'Не женат / не замужем' и всеми остальными в 2-3% количество непогашенных кредитов есть разница между 

Таким образом, можно частично потвердить гипотезу  -->

Сформируем заемщиков по семейному статусу, в первой строке не находятся в браке, во второй строке в браке
- Количество задолжностей не в браке 24%
- Количество задолжностей в браке 17%
Гипотеза потвердилась, семейный статус влияет на возврат долга.

<div class="alert alert-success"; style="border-left: 7px solid green">
<h5> ✔️ <font color="green">v2 Комментарий ревьюера (зеленый)</font></h5>

✅ Верное исправление 👍 По результатам мы можем сказать, что заемщики, состоящие или состоявшие в браке, реже допускают просрочку. 
 
</div>

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [28]:
data.groupby(['total_income_category']).agg({'debt':['mean','sum','count']}).round(2)

                       debt
                       mean   sum  count
total_income_category
A                      0.08     2     25
B                      0.07   354   5014
C                      0.08  1353  15921
D                      0.06    21    349
E                      0.09     2     22

**Вывод:** 
- Для группы А и Е недостаточно данных относительно других рейтингов 
- Для группы B, C увеличивается непогашенных задолжностей на 1%
- Для группы D уменьшается на 2%
Гипотеза зависимость между уровнем дохода и возвратом кредита в срок частично не потверждается.

<div class="alert alert-info"; style="border-left: 7px solid SteelBlue">
<h5><font color="SteelBlue">Комментарий от студента (синий)</font></h5>    

Я разделил на категории согласно заданию выше. А то что выборка маленькая, мы даже не проходили эту тему
    
</div>

<div class="alert alert-success"; style="border-left: 7px solid green">
<h5> ✔️ <font color="green">v2 Комментарий ревьюера (зеленый)</font></h5>

Без новой группировки мы видим, что основные категории — B и C, и мы можем сказать, что заемщики с более высоким уровнем дохода реже допускают просрочку.  
    
</div>

<div class="alert alert-success"; style="border-left: 7px solid green">
<h5> ✔️ <font color="green">v2 Комментарий ревьюера (зеленый)</font></h5>

✅ Отлично, что ты внимательно следуешь заданию! Действительно, работа с выборкой – это немного более глубокая тема, и ты пока не был с ней знаком. В реальных задачах бывает полезно объединять маленькие группы, чтобы получить более стабильные результаты, но в рамках текущего задания можно оставить, как есть. 
    
Ниже поделюсь методом [pd.qcut](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.qcut.html), который помогает создавать примерно равные сегменты.   
 
</div>

In [29]:
# Код ревьюера

# Делим на равнозначные группы
data['total_income_category2'] = pd.qcut(data['total_income'], q=4, labels=['Низкий', 'Ниже среднего', 'Средний', 'Высокий'])

# Выводим сводную
display(data.groupby('total_income_category2')['debt'].agg(['count', 'sum', 'mean'])\
        .sort_values(by = 'mean', ascending = False))

                        count  sum      mean
total_income_category2
Ниже среднего            5450  480  0.088073
Средний                  5216  444  0.085123
Низкий                   5333  427  0.080068
Высокий                  5332  381  0.071455

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [30]:
data.groupby(['purpose_category']).agg({'debt':['mean','sum','count']}).round(2)# Ваш код будет здесь. Вы можете создавать новые ячейки.

                          debt
                          mean  sum  count
purpose_category
операции с автомобилем    0.09  400   4279
операции с недвижимостью  0.07  780  10751
получение образования     0.09  369   3988
проведение свадьбы        0.08  183   2313

**Вывод:** 
Операции с недвижимостью чаще возвращают в срок, чем операции с автомобилем	и получение образования на 2%, а 
проведение свадьбы на 1%

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* 
- Некорректно заполненные данные 
- Ошибки в выгрузке данных
- Некоррентная зависимость от других значений таблицы(безработные и пенсионеры)

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* 
Если в данных есть аномалии или разница между максимальным(минимальным) и средним значением большая, они будут искажать реальные данные, простой пример средняя температура по больнице.

### Шаг 4: общий вывод.

#### Предобрабока данных 
Заполнили пропуски в total_income медианным значением, не трогали days_employed из за недостатка данных.
#### Исследование данных
Результатом исследования было проверка гипотез, которые будут учитываться в составление кредитного скоринга 
##### Есть ли зависимость между количеством детей и возвратом кредита в срок?
    Гипотеза потвердилась частично. Зависимость есть при увеличении количества детей, 
    
    - Средняя задолжность увеличивается на 1%, 
    - При 3+ на 9%
##### Есть ли зависимость между семейным положением и возвратом кредита в срок?
    Сформировали заемщиков по семейному статусу(находится в браке)
    
    - Количество задолжностей не в браке 24%
    - Количество задолжностей в браке 17% 
    
    Гипотеза потвердилась, семейный статус влияет на возврат долга
##### Есть ли зависимость между уровнем дохода и возвратом кредита в срок?
     
     Гипотеза частично не потвердилась, разница для разных рейтингов дохода около 1%
     
##### Как разные цели кредита влияют на его возврат в срок?
        
     Категории с наибольшей долей задолженности
     - операции с автомобилем и образование (по 9%), в то время как 
     - недвижимость и свадьба возвращаются более своевременно (7.3% и 7.9%).

**В общем, можно сказать что наибольший вклад в задолжность оказывают семейный статус, количества детей больше 3 и цели кредита.**

<div class="alert alert-danger"; style="border-left: 7px solid FireBrick">
<h5> ❌ <font color="FireBrick">Комментарий ревьюера (красный)</font></h5>

В общем выводе хочется тезисно видеть все промежуточные выводы с цифрами. Это очень важно, поскольку топ-менеджеры, в большинстве своем, смотрят сразу сюда и только сюда...

Тут важно обратиться к целям, которые были озвучены в самом начале и ответить на все вопросы. Важно оформить все тезисно и с цифрами. Еще важно описать все промежуточные выводы, которых не прописано в целях.
Вкратце структура такая:
- как были предобработаны данные(тут важно написать про изменения, если заполнялись пропуски или преобразовывались строки)
- пройдись по целям и ответь на вопросы
- добавь промежуточные выводы, которые считаешь нужным отметить

Еще очень важно помнить, для кого ты делаешь проект, в зависимости от этого нужно сделать определенные акценты. В данном случае проект учебный, поэтому нужно ориентироваться по описанию.

Для красивого оформления можешь воспользоваться [Кратким руководством по Маркдауну](https://paulradzkov.com/2014/markdown_cheatsheet/).

</div>